// NAVIGATION BAR

$yellow: #ECBB28;

#top-panel header {
  padding: 2rem;
  nav {
    float: left;
    ul {
      overflow: auto;
      list-style-type: none;
      li {
        height: 25px;
        float: left;
        margin-right: 0px;
        border-right: 1px solid #aaa;
        padding: 0 20px;
        &:last-child {
          border-right: none;
        }
        a {
          text-decoration: none;
          color: #ccc;
          text-transform: uppercase;
          transition: all 0.5s ease;
          &:hover {
            // color: #666
            color: tint($yellow, 20%);
          }
        }
      }
      li.active {
        transition: all 0.5s ease;
        font-weight: 700;
        font-size: 1.2rem;
        // color: #333;
        a {
          color: tint($yellow, 20%); 
        }
      }
    }
  }  
}
